@import url("reset.css");

*{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}
main{
    padding: 40px 0;
}
.title {
    font-weight: 700;
    font-size: 25px;
    line-height: 1.6;
    margin-left: 312px;
}
.title.first{
    max-width: 400px;
    margin-bottom: 40px;
}
.text {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.78;
    max-width: 816px;
/*    margin: 0 auto;*/
    margin-left: 312px;
}
.text.first{
    margin-bottom: 80px;
}
.big-image {
    display: block;
    margin: 0 auto;
    margin-bottom: 80px;
}
.title.second{
    max-width: 605px;
    margin-bottom: 35px;
}
.text.second{
    margin-bottom: 85px;
}
.image-container{
    text-align: center;
    margin-bottom: 80px;
}
.small-image {
    margin-right: 30px;
}