@import url("reset.css");

@font-face {
    font-family: 'PTSerif-BoldItalic';
    src: url(../fonts/PTSerif-BoldItalic.woff) format('woff'),
       url(../fonts/PTSerif-BoldItalic.woff2) format('woff2');
    font-display: swap;
}
@font-face {
    font-family: 'PTSerif-Bold';
    src: url(../fonts/PTSerif-Bold.woff) format('woff'),
       url(../fonts/PTSerif-Bold.woff2) format('woff2');
    font-display: swap;
}


ul li{
    list-style-type: disc;
}

ol li{
    list-style-type: decimal;
}

body{
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    line-height: 1.3;
    font-size: 16px;
}

h1{
    font-size: 32px;
    font-family: "PTSerif-Bold", serif;
    letter-spacing: 1px;
    text-align: center;
}
h2{
    font-size: 20px;
    font-family: "PTSerif-BoldItalic", serif;
}
p{
    text-indent: 20px;
    word-spacing: 4px;
    text-align: justify;
}
.title {
    color: #201010;
    text-shadow: 3px 4px 3px #000;
}
.main {
    color: #100808;
}
.link {
    color: blue;
    font-style: italic;
    text-decoration: underline;
}
.bold {
    font-weight: 700;
    font-style: italic;
}
.example {
    font-style: italic;
    font-weight: 700;
}
.on-the-side {
    color: #111111;
}
.list {
    text-indent: 8px;
    font-style: oblique;
}
.source {
    font-size: 14px;
}
.disclaimer{
    text-transform: lowercase;
    font-size: 12px;
}