.header {
	font-family: "Poppins", sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 2.08;
	color: rgba(73, 80, 87, 0.5);
	position: relative;
}
.header__container {
	display: flex;
	gap: 10px;
	align-items: center;
	min-height: 100px;
}
.header__logo {
	font-weight: 700;
	font-size: 18px;
	line-height: 1.4;
	color: #495057;
	flex: 0 1 50%;
}
.header__logo::after {
	content: ".";
	color: #DDBEA9;
	position: relative;
}
.header__menu-opener {
	display: none;
	padding: 3px 5px;
	height: 25px;
	width: 35px;
	flex-direction: column;
	justify-content: space-between;
}
.header__menu-opener::after {
	content: "";
	display: block;
	background-color: #495057;
	width: 100%;
	height: 2px;
}
.header__menu-opener::before {
	content: "";
	display: block;
	background-color: #495057;
	width: 100%;
	height: 2px;
}
.header__menu-opener span {
	display: inline-block;
	width: 100%;
	height: 2px;
	background-color: #495057;
}
.header__pages-menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	column-gap: 25px;
	row-gap: 5px;
	flex: 0 0 50%;
}
.pages-menu__item {
	position: relative;
}
.pages-menu__item--active {
	color: #495057;
	pointer-events: none;
}
.pages-menu__item--active::before {
	content: "";
	background-color: #DDBEA9;
	display: inline-block;
	height: 2px;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
}


.pages-menu__item--parent:hover > .pages-menu__sub-menu{
	visibility: visible;
	opacity: 1;
	transform: translate(0, 0);
	pointer-events: auto;
}
.pages-menu__sub-menu > *:not(:last-child) {
	margin-bottom: 10px;
}

.header__button-box {
	flex: 0 1 50%;
	display: flex;
	justify-content: flex-end;
	column-gap: 10px;
}
.header__sign-in-button {
	padding: 7px 15px;
	transition: transform 0.3s;
	text-align: center;
}
.header__get-started-button {
	color: #F8F9FA;
	background-color: #DDBEA9;
	border-radius: 20px;
	padding: 7px 15px;
	transition: background-color 0.3s;
	text-align: center;
}
.header__get-started-button:hover {
	background-color: #F1D1BB;
}

.header__items {
	flex: 0 1 50%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.header__networks {
	display: flex;
	column-gap: 25px;
	padding-right: 20px;
	border-right: 1px solid #E5E5E5;
	flex-wrap: wrap;
}
.header__networks a {
	transition: transform 0.3s;
}
.header__search-icon {
	align-self: stretch;
	padding-left: 20px;
	display: flex;
	align-items: center;
}

@media (any-hover:hover) {
	.pages-menu__item:hover {
		color: #495057;
		cursor: pointer;
	}

	.header__sign-in-button:hover, 
	.header__networks a:hover {
		transform: scale(1.1);
	}
	.sub-menu__item:hover {
		color: #F8F9FA;
	}
}
@media (max-width: 750px) {
	.header__container {
		gap: 20px;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}
	.header__pages-menu {
		flex: 0 0 100%;
	}
	.header {
		padding: 15px 0;
	}
	.pages-menu__item,
	.header__button-box {
		font-size: 14px;
	}
	.header__button-box {
		flex: 0 0 100%;
		width: 100%;
		justify-content: center;
	}
	.header__button-box * {
		flex: 0 1 40%;
	}
	.header__networks a {
		font-size: 16px;
		display: inline-block;
		padding: 0 10px;
	}
	.header__logo {
		text-align: center;
	}
	.header__items {
		justify-content: center;
		flex: 0 0 100%;
	}
	.header__networks {
		column-gap: 15px;
	}
}
@media (max-width: 600px) {
	.header {
		margin-bottom: 0;
	}
}
@media (min-width: 450px) {
	.pages-menu__sub-menu {
		position: absolute;
		top: 100%;
		left: 0;
		background: #212529;
		border-radius: 5px;
		color: rgba(248, 249, 250, 0.6);
		visibility: hidden;
		opacity: 0;
		transform: translate(0, 10px);
		padding: 20px;
		background-color: #212529;
		min-width: 140px;
		transition: all 0.4s;
		pointer-events: none;
	}
	.pages-menu__item--parent::after {
		content: "";
		background: url("../img/icons/list-arrow.svg") center / contain no-repeat;
		display: inline-block;
		width: 8px;
		height: 5px;
		margin-left: 5px;
	}
	.pages-menu__item--parent {
		display: flex;
		align-items: center;
		position: relative;
	}
}
@media (max-width: 450px) {
	.header__menu-opener {
		display: flex;
	}
	.header__logo {
		text-align-last: left;
	}
	.header__button-box {
		flex: 0 0 100%;
		width: 100%;
		flex-direction: column;
	}
	.header__button-box * {
		flex: 0 1 100%;
	}
	.pages-menu {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: block;
		background-color: #212529;
		overflow: auto;
		opacity: 0;
		transform: translate(-100%, 0);
		transition: all 0.5s;
		padding-left: 5px;
	}
	.pages-menu--open {
		opacity: 1;
		transform: translate(0, 0);
	}
	.pages-menu__item {
		color: rgba(248, 249, 250, 0.6);
		font-size: 18px;
	}
	.pages-menu__item--active {
		color: #F8F9FA;
		border-bottom: none;
	}
	.sub-menu__item {
		font-size: 14px;
		padding-left: 20px;
	}
}



.footer {
	background-color: #212529;
	color: rgba(248, 249, 250, 0.5);
	font-size: 12px;
	line-height: 2.08;
	font-weight: 500;
}
.footer__container {
	flex-wrap: wrap;
	display: flex;
	justify-content: space-between;
	row-gap: 40px;
	align-items: center;
	align-content: center;
	min-height: 325px;
	padding: 20px 0;
}
.footer__row {
	flex: 0 0 100%;
	padding-bottom: 32px;
	border-bottom: 1px solid rgba(229, 229, 229, 0.2);
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	column-gap: 15px;
	row-gap: 10px;
}
.footer__logo {
	font-weight: 700;
	font-size: 18px;
	line-height: 1.4;
	color: #F8F9FA;
	height: 50px;
	transition: transform 0.3s;
}
.footer__logo::after {
	content: ".";
	color: #DDBEA9;
}
.footer__logo:hover {
	transform: scale(1.05);
}
.footer__information {
	display: flex;
	flex-wrap: wrap;
	column-gap: 25px;
	row-gap: 10px;
}
.footer__link {
	padding: 5px 0;
}
.footer__networks {
	display: flex;
	flex-wrap: wrap;
	column-gap: 5px;
	row-gap: 10px;
}
.footer__network {
	padding: 5px 10px;
}
.footer__network, 
.footer__link,
.footer__address {
	transition: color 0.3s;
}
.footer__network:hover, 
.footer__link:hover,
.footer__address:hover {
	color: #F8F9FA;
}
.footer__address, 
.footer__footnote {
	line-height: 1.67;
}

@media (max-width: 1000px) {
	.footer__container {
		min-height: 280px;
	}
}
@media (max-width: 650px) {
	.footer__logo {
		flex: 0 0 100%;
		text-align: center;
		height: auto;
	}
	.footer__container {
		min-height: 250px;
	}
}
@media (max-width: 530px) {
	.footer__container {
		flex-direction: column;
		row-gap: 20px;
		justify-content: center;
		align-items: flex-start;
	}
	.footer__row {
		padding-bottom: 24px;
	}
}
@media (max-width: 440px) {
	.footer__row {
		padding-bottom: 15px;
		flex-direction: column;
		width: 100%;
	}
}




.slider {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 12px;
	font-weight: 300;
	line-height: 1.67;
	color: #E5E5E5;
	position: relative;
	min-height: 500px;
	border-radius: 5px;
	margin: 0 auto;
	max-width: 1240px;
	padding: 65px;
}
.slider > *:not(.slider__image) {
	z-index: 1;
}
.slider__author {
	max-width: 450px;
	text-align: center;
	margin-bottom: 15px;
}
.slider__title {
	font-weight: 700;
	font-size: 25px;
	line-height: 1.6;
	color: #F8F9FA;
	max-width: 605px;
	text-align: center;
}
.slider__counter {
	position: absolute;
	bottom: 40px;
	left: 47%;
	display: flex;
	align-items: center;
	letter-spacing: 0.2em;
}
.slider__counter::before {
	display: inline-block;
	content: "";
	height: 1px;
	width: 44px;
	background-color: #F8F9FA;
	margin-right: 10px;
}
.slider__image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
}
.slider__image img {
	width: 100%;
	height: 100%;

	object-fit: cover;
}
