@import url("reset.css");
@import url("common.css");

body {
	background-color: #F8F9FA;
	font-family: "Poppins", sans-serif;
	font-style: normal;
}
img {
	max-width: 100%;
}
.wrapper {
	min-height: 100%;
	overflow: clip;
}
[class*="__container"] {
	margin: 0 auto;
	max-width: 1270px;
	padding: 0 15px;
}
.mininmal-page {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
.mininmal-page > main {
	flex-grow: 1;
}

.page {
	padding-bottom: 100px;
}
.page__slider {
	margin-bottom: 100px;
}


@media (max-width: 600px) {
	.page {
		padding-bottom: 30px;
	}
}
