*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

textarea,
button,
input {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}

button {
  cursor: pointer;
  background-color: inherit;
}

.product-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  line-height: 1.5;
  position: relative;
  height: 100%;
}
@media (any-hover: hover) {
  .product-item:hover .product-item__image {
    outline: 1px solid #C4C4C4;
  }
  .product-item:hover .product-item__image img {
    -webkit-transform: scale(0.8837);
        -ms-transform: scale(0.8837);
            transform: scale(0.8837);
  }
}
.product-item__image {
  position: relative;
  padding-top: 130.813953%; /* 450/344 */
  -webkit-transition: outline 0.3s;
  -o-transition: outline 0.3s;
  transition: outline 0.3s;
}
.product-item__image:not(:last-child) {
  margin-bottom: 14px;
}
.product-item__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.product-item__categoria {
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  color: #BDBDBD;
}
.product-item__description {
  font-weight: 300;
  font-size: 18px;
  color: #000;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.product-item__description:not(:last-child) {
  margin-bottom: 21px;
}
.product-item__sale {
  background-color: #000;
  color: #fff;
  font-weight: 400;
  line-height: 1.5; /* 21/14 */
  position: absolute;
  top: 15px;
  left: 0;
  padding: 0 4px;
  display: none;
}
.product-item__cousts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 14px;
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  line-height: 1;
}
.product-item__sale-coust {
  color: #EB5757;
  display: none;
}
.product-item__coust {
  color: #000;
}

.product-item--sale .product-item__sale-coust {
  display: block;
}
.product-item--sale .product-item__coust {
  color: #828282;
  font-size: 12px;
  text-decoration: line-through;
}
.product-item--sale .product-item__sale {
  display: block;
}

.line-text-box {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 25px;
  line-height: 1.48;
  letter-spacing: 0.01em;
  color: #000;
  max-width: 640px;
}
@media (max-width: 1400px) {
  .line-text-box {
    max-width: 540px;
  }
}
@media (max-width: 1000px) {
  .line-text-box {
    max-width: 480px;
  }
}
@media (max-width: 1150px) {
  .line-text-box {
    font-size: 20px;
  }
}
@media (max-width: 850px) {
  .line-text-box {
    font-size: 18px;
  }
}
@media (max-width: 700px) {
  .line-text-box {
    max-width: 370px;
  }
}
@media (max-width: 550px) {
  .line-text-box {
    font-size: 16px;
  }
}
@media (max-width: 510px) {
  .line-text-box {
    max-width: 300px;
  }
}
@media (max-width: 450px) {
  .line-text-box {
    font-size: 13px;
  }
}
@media (max-width: 400px) {
  .line-text-box {
    max-width: 200px;
  }
}
.line-text-box__title {
  position: relative;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 56px;
  line-height: 1.29;
  margin-bottom: 8px;
  min-height: 1.78571429em;
  letter-spacing: 0;
  padding-right: 56px;
  padding-top: 19px;
  padding-bottom: 10px;
}
.line-text-box__title::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 94.0625%; /* 602/640 */
  background-color: #000;
}
.line-text-box__title::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 1.78571429em;
  background-color: #000;
}
@media (max-width: 1150px) {
  .line-text-box__title {
    font-size: 42px;
  }
}
@media (max-width: 850px) {
  .line-text-box__title {
    font-size: 34px;
  }
}
@media (max-width: 550px) {
  .line-text-box__title {
    font-size: 25px;
  }
}
@media (max-width: 450px) {
  .line-text-box__title {
    font-size: 18px;
  }
}
.line-text-box__paragraph:not(:last-child) {
  margin-bottom: 26px;
}
.line-text-box__button {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5; /* 27/18 */
  letter-spacing: 0.5px;
  text-transform: uppercase;
  border: 2px solid #000;
  padding: 12px 25px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  display: inline-block;
}
@media (any-hover: hover) {
  .line-text-box__button:hover {
    background-color: #000;
    color: #fff;
  }
}
@media (max-width: 1150px) {
  .line-text-box__button {
    font-size: 16px;
  }
}
@media (max-width: 850px) {
  .line-text-box__button {
    font-size: 14px;
  }
}
@media (max-width: 550px) {
  .line-text-box__button {
    font-size: 12px;
  }
}
@media (max-width: 450px) {
  .line-text-box__button {
    font-size: 10px;
    padding: 8px 18px;
  }
}

.wrapper {
  min-height: 100%;
  overflow: clip;
}

body {
  font-family: "Oswald", sans-serif;
  font-style: normal;
}

img {
  max-width: 100%;
}

.page {
  padding: 21px 21px 0;
}
@media (max-width: 450px) {
  .page {
    padding: 15px 15px 0;
  }
}
.page__brands-list:not(:last-child) {
  margin-bottom: 30px;
}
@media (max-width: 400px) {
  .page__brands-list:not(:last-child) {
    margin-bottom: 20px;
  }
}
.page__big-images:not(:last-child) {
  margin-bottom: 30px;
}
.page__without-limits:not(:last-child) {
  margin-bottom: 77px;
}
@media (max-width: 700px) {
  .page__without-limits:not(:last-child) {
    margin-bottom: 40px;
  }
}
@media (max-width: 400px) {
  .page__without-limits:not(:last-child) {
    margin-bottom: 20px;
  }
}
.page__featured:not(:last-child) {
  margin-bottom: 118px;
}
@media (max-width: 1000px) {
  .page__featured:not(:last-child) {
    margin-bottom: 80px;
  }
}
@media (max-width: 700px) {
  .page__featured:not(:last-child) {
    margin-bottom: 60px;
  }
}
@media (max-width: 400px) {
  .page__featured:not(:last-child) {
    margin-bottom: 30px;
  }
}
.page__explore-the-best:not(:last-child) {
  margin-bottom: 82px;
}
@media (max-width: 700px) {
  .page__explore-the-best:not(:last-child) {
    margin-bottom: 40px;
  }
}
@media (max-width: 400px) {
  .page__explore-the-best:not(:last-child) {
    margin-bottom: 20px;
  }
}
.page__blog {
  margin: 0 -21px;
  padding: 46px 21px;
}
@media (max-width: 500px) {
  .page__blog {
    padding: 25px 21px;
  }
}

.brands-list {
  border: 2px solid #C4C4C4;
  position: relative;
  display: grid;
  grid-template: auto/repeat(7, 1fr);
  -webkit-column-gap: 35px;
     -moz-column-gap: 35px;
          column-gap: 35px;
  row-gap: 15px;
  padding: 28px 0;
  justify-items: stretch;
}
@media (max-width: 1600px) {
  .brands-list {
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }
}
@media (max-width: 1400px) {
  .brands-list {
    grid-template: auto/repeat(4, 1fr);
    -webkit-column-gap: 35px;
       -moz-column-gap: 35px;
            column-gap: 35px;
  }
}
@media (max-width: 850px) {
  .brands-list {
    grid-template: auto/repeat(3, 1fr);
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }
}
@media (max-width: 610px) {
  .brands-list {
    grid-template: auto/repeat(2, 1fr);
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
    border: none;
    padding: 15px 0;
  }
}
@media (max-width: 450px) {
  .brands-list {
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
    row-gap: 10px;
  }
}
.brands-list__description-box {
  position: absolute;
  z-index: 1;
  top: -22px;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: transparent;
}
@media (max-width: 610px) {
  .brands-list__description-box {
    display: none;
  }
}
.brands-list__description {
  width: 370px;
  background-color: #fff;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.875; /* 45/24 */
  display: inline-block;
  text-transform: uppercase;
}
.brands-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 141px;
}
@media (any-hover: hover) {
  .brands-list__item:hover {
    background-color: #F0F2F2;
  }
}
@media (max-width: 610px) {
  .brands-list__item {
    border: 2px solid #C4C4C4;
    height: 100px;
  }
}
@media (max-width: 450px) {
  .brands-list__item {
    height: 55px;
  }
  .brands-list__item img {
    -webkit-transform: scale(0.46);
        -ms-transform: scale(0.46);
            transform: scale(0.46);
  }
}

.item-big-images {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.item-big-images:not(.big-images__item-big-images--big) {
  height: 434px;
}
@media (max-width: 530px) {
  .item-big-images:not(.big-images__item-big-images--big) {
    height: 330px;
  }
}
.item-big-images__image {
  z-index: -1;
  height: 100%;
  position: absolute;
  top: 0;
}
.item-big-images__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.item-big-images__info-block {
  font-family: "Oswald", sans-serif;
  color: #000;
  max-width: 369px;
  padding: 10px;
}
@media (max-width: 1400px) {
  .item-big-images__info-block {
    max-width: 300px;
  }
}
.item-big-images__text-box:not(:last-child) {
  margin-bottom: 50px;
}
.item-big-images__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.29;
  text-transform: uppercase;
  margin-bottom: 7px;
}
@media (max-width: 1100px) {
  .item-big-images__title {
    font-size: 36px;
  }
}
@media (max-width: 530px) {
  .item-big-images__title {
    font-size: 24px;
  }
}
.item-big-images__description {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 22px;
  line-height: 1.68;
  letter-spacing: 0.01em;
}
@media (max-width: 530px) {
  .item-big-images__description {
    font-size: 18px;
  }
}
.item-big-images__button {
  display: inline-block;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5; /* 27/18 */
  letter-spacing: 0.5px;
  text-transform: uppercase;
  padding: 14px;
  min-width: 175px;
  border: 2px solid #000;
  text-align: center;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .item-big-images__button:hover {
    background-color: #000;
    color: #fff;
  }
}
@media (max-width: 500px) {
  .item-big-images__button {
    min-width: 100px;
  }
}

.big-images {
  display: grid;
  grid-template: auto/1fr 1fr;
  gap: 30px;
  justify-items: stretch;
}
@media (max-width: 1100px) {
  .big-images {
    grid-template: auto/1fr;
    gap: 20px;
  }
}
.big-images__item-big-images--first {
  background: -webkit-gradient(linear, left top, right top, from(rgba(241, 239, 240, 0)), color-stop(10.79%, #F1F0F0), color-stop(98.67%, #F3F0EF)) right/58.9% 100% no-repeat;
  background: -o-linear-gradient(left, rgba(241, 239, 240, 0) 0%, #F1F0F0 10.79%, #F3F0EF 98.67%) right/58.9% 100% no-repeat;
  background: linear-gradient(90deg, rgba(241, 239, 240, 0) 0%, #F1F0F0 10.79%, #F3F0EF 98.67%) right/58.9% 100% no-repeat;
}
.big-images__item-big-images--first .item-big-images__image {
  width: 48.432432%; /* 448/925 */
  left: 0;
}
.big-images__item-big-images--first .item-big-images__info-block {
  margin-left: 52.972973%;
}
.big-images__item-big-images--big {
  background: -webkit-gradient(linear, left top, right top, from(#E0DED3), color-stop(86.82%, #E0DDD5), to(#E0DDD5)) left/24% 100% no-repeat;
  background: -o-linear-gradient(left, #E0DED3 0%, #E0DDD5 86.82%, #E0DDD5 100%) left/24% 100% no-repeat;
  background: linear-gradient(90deg, #E0DED3 0%, #E0DDD5 86.82%, #E0DDD5 100%) left/24% 100% no-repeat; /* 225/925 */
  grid-row: span 2;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: auto;
  z-index: 0;
}
@media (max-width: 1100px) {
  .big-images__item-big-images--big {
    height: 600px;
  }
}
@media (max-width: 530px) {
  .big-images__item-big-images--big {
    height: 400px;
  }
}
.big-images__item-big-images--big .item-big-images__image {
  width: 90.702703%; /* 839/925 */
  right: 0;
}
.big-images__item-big-images--big .item-big-images__info-block {
  margin-left: 9.297297%; /* 86/925 */
  margin-bottom: 100px;
}
@media (max-width: 300px) {
  .big-images__item-big-images--big .item-big-images__info-block {
    margin-bottom: 30px;
  }
}
.big-images__item-big-images--big .item-big-images__title {
  font-size: 96px;
  line-height: 1.15;
  color: #131313;
}
@media (max-width: 1100px) {
  .big-images__item-big-images--big .item-big-images__title {
    font-size: 48px;
  }
}
@media (max-width: 530px) {
  .big-images__item-big-images--big .item-big-images__title {
    font-size: 36px;
  }
}
.big-images__item-big-images--third {
  background: -webkit-gradient(linear, left top, right top, from(#F7E0D5), color-stop(83.85%, #F3DCD2), to(rgba(243, 220, 210, 0.14))) left/48.432432% 100% no-repeat;
  background: -o-linear-gradient(left, #F7E0D5 0%, #F3DCD2 83.85%, rgba(243, 220, 210, 0.14) 100%) left/48.432432% 100% no-repeat;
  background: linear-gradient(90deg, #F7E0D5 0%, #F3DCD2 83.85%, rgba(243, 220, 210, 0.14) 100%) left/48.432432% 100% no-repeat; /* 448/925 */
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.big-images__item-big-images--third .item-big-images__image {
  width: 60.216216%; /* 557/925 */
  right: 0;
}
.big-images__item-big-images--third .item-big-images__info-block {
  margin-right: 49.837838%; /* 461/925 */
}
.choose-categoria {
  margin-bottom: 24px;
}
@media (min-width: 730px) {
  .choose-categoria {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.choose-categoria__categorias-block {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 21.6%;
          flex: 0 0 21.6%; /* 415/1920 */
  padding: 18px 21px;
}
@media (max-width: 729px) {
  .choose-categoria__categorias-block {
    padding: 18px 0;
  }
}
.choose-categoria__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.1;
}
.choose-categoria__title:not(:last-child) {
  margin-bottom: 31px;
}
.choose-categoria__categorias-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}
.choose-categoria__row {
  position: relative;
}
.choose-categoria__input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.choose-categoria__input:checked + .choose-categoria__label::before {
  background: #000 url("../img/icons/check-box-active.svg") center/contain no-repeat;
}
.choose-categoria__label {
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  text-transform: uppercase;
  color: #3F3F3F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: margin 0.3s;
  -o-transition: margin 0.3s;
  transition: margin 0.3s;
}
@media (any-hover: hover) {
  .choose-categoria__label:hover {
    cursor: pointer;
    margin-left: 5px;
  }
}
.choose-categoria__label::before {
  content: "";
  display: inline-block;
  margin-right: 9px;
  width: 10px;
  height: 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10px;
          flex: 0 0 10px;
  background: #828282 url("../img/icons/check-box-disable.svg") center/contain no-repeat;
}
.choose-categoria__items {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 78.4%;
          flex: 0 0 78.4%;
  display: grid;
  grid-template: auto/repeat(4, 1fr);
  -webkit-column-gap: 26px;
     -moz-column-gap: 26px;
          column-gap: 26px;
  row-gap: 48px;
  position: relative;
  padding-bottom: 152px;
  padding-left: 30px;
  border-left: 1px solid #C4C4C4;
}
@media (max-width: 1230px) {
  .choose-categoria__items {
    padding-bottom: 120px;
  }
}
@media (max-width: 1150px) {
  .choose-categoria__items {
    grid-template: auto/repeat(3, 1fr);
  }
}
@media (max-width: 850px) {
  .choose-categoria__items {
    grid-template: auto/repeat(2, 1fr);
  }
}
@media (max-width: 729px) {
  .choose-categoria__items {
    border-left: none;
    padding-left: 0;
  }
}
@media (max-width: 420px) {
  .choose-categoria__items {
    padding-bottom: 150px;
  }
}
@media (max-width: 400px) {
  .choose-categoria__items {
    grid-template: auto/repeat(1, 1fr);
  }
}
.choose-categoria__button-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 39px;
  left: 0;
  width: 100%;
}
@media (max-width: 1230px) {
  .choose-categoria__button-box {
    bottom: 20px;
  }
}
@media (max-width: 420px) {
  .choose-categoria__button-box {
    bottom: 0;
    height: 120px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.choose-categoria__button {
  border: 2px solid #C4C4C4;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #828282;
  padding: 15px 35px;
  -webkit-transition: border 0.3s;
  -o-transition: border 0.3s;
  transition: border 0.3s;
}
@media (any-hover: hover) {
  .choose-categoria__button:hover {
    border: 2px solid #828282;
  }
}
@media (max-width: 420px) {
  .choose-categoria__button {
    width: 100%;
  }
}
.choose-categoria__top-scroll {
  height: 55px;
  width: 55px;
  position: absolute;
  bottom: 0;
  right: 0;
  display: none;
  background: url("../img/icons/arrow-icon.svg") center no-repeat;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  border: 2px solid #C4C4C4;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.choose-categoria__top-scroll::before {
  content: "";
  background: url("../img/icons/arrow-icon.svg") center no-repeat;
  display: block;
  width: 7px;
  height: 14px;
  margin-left: 15px;
}
.choose-categoria__top-scroll::after {
  content: "";
  background: url("../img/icons/arrow-icon.svg") center no-repeat;
  display: block;
  width: 7px;
  height: 14px;
  margin-right: 14px;
}
@media (max-width: 420px) {
  .choose-categoria__top-scroll {
    position: relative;
  }
}
@media (max-width: 729px) {
  .choose-categoria__top-scroll {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.without-limits {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, right top, from(#DDEBF1), color-stop(42.71%, #D3E5EE), color-stop(69.27%, #C8DEEC), to(rgba(255, 255, 255, 0))) left/72.180851% 100% no-repeat;
  background: -o-linear-gradient(left, #DDEBF1 0%, #D3E5EE 42.71%, #C8DEEC 69.27%, rgba(255, 255, 255, 0) 100%) left/72.180851% 100% no-repeat;
  background: linear-gradient(90deg, #DDEBF1 0%, #D3E5EE 42.71%, #C8DEEC 69.27%, rgba(255, 255, 255, 0) 100%) left/72.180851% 100% no-repeat; /* 1357/1880 */
  padding: 77px 0;
}
@media (max-width: 1000px) {
  .without-limits {
    background: -webkit-gradient(linear, left top, right top, from(#DDEBF1), color-stop(42.71%, #D3E5EE), color-stop(69.27%, #C8DEEC), to(rgba(255, 255, 255, 0))) left/55% 100% no-repeat;
    background: -o-linear-gradient(left, #DDEBF1 0%, #D3E5EE 42.71%, #C8DEEC 69.27%, rgba(255, 255, 255, 0) 100%) left/55% 100% no-repeat;
    background: linear-gradient(90deg, #DDEBF1 0%, #D3E5EE 42.71%, #C8DEEC 69.27%, rgba(255, 255, 255, 0) 100%) left/55% 100% no-repeat;
  }
}
.without-limits__image {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 64.361702%; /* 1210/1880 */
}
.without-limits__image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1000px) {
  .without-limits__image {
    width: 100%;
  }
}
.without-limits__line-text-box {
  margin-left: 14.521277%; /* 273/1880 */
}
@media (max-width: 1400px) {
  .without-limits__line-text-box {
    margin-left: 10%;
  }
}
@media (max-width: 1000px) {
  .without-limits__line-text-box {
    margin-left: 20px;
  }
}

.featured__title-row {
  min-height: 66px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.1;
  gap: 10px;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 10px;
}
.featured__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4px;
}
.featured__button {
  display: block;
  height: 40px;
  width: 40px;
  border: 2px solid #C4C4C4;
  background: rgba(255, 255, 255, 0.9) url("../img/icons/arrow.svg") center/8px 14px no-repeat;
  -webkit-transition: background, border 0.3s;
  -o-transition: background, border 0.3s;
  transition: background, border 0.3s;
}
@media (any-hover: hover) {
  .featured__button:hover {
    background: rgba(255, 255, 255, 0.9) url("../img/icons/arrow-black.svg") center/8px 14px no-repeat;
    border: 2px solid #828282;
  }
}
@media (any-hover: hover) {
  .featured__button--left:hover {
    -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
}
.featured__button--right {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
@media (any-hover: hover) {
  .featured__button--right:hover {
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
.featured__items {
  display: grid;
  grid-template: auto/repeat(5, 1fr);
  gap: 27px;
}
.featured__items:not(:last-child) {
  margin-bottom: 68px;
}
@media (max-width: 1130px) {
  .featured__items {
    grid-template: auto/repeat(4, 1fr);
  }
}
@media (max-width: 900px) {
  .featured__items {
    grid-template: auto/repeat(3, 1fr);
  }
}
@media (max-width: 680px) {
  .featured__items {
    grid-template: auto/repeat(2, 1fr);
  }
}
@media (max-width: 410px) {
  .featured__items {
    grid-template: auto/repeat(1, 1fr);
  }
}
@media (min-width: 471px) {
  .explore-the-best {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.explore-the-best__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 56.382979%;
          flex: 0 0 56.382979%; /* 1060/1880 */
  width: 56.382979%;
}
.explore-the-best__image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 470px) {
  .explore-the-best__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
  }
}
.explore-the-best__line-text-box {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 34.042553%;
          flex: 0 0 34.042553%; /* 640/1880 */
  width: 34.042553%;
  margin-right: 4.255319%; /* 80/1880 */
  height: 100%;
}
@media (max-width: 470px) {
  .explore-the-best__line-text-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    width: 100%;
  }
}
.explore-the-best .line-text-box__title {
  padding-right: 20px;
}

.blog {
  background-color: #F8F9FB;
}
.blog__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
}
.blog__title:not(:last-child) {
  margin-bottom: 30px;
}
@media (max-width: 400px) {
  .blog__title:not(:last-child) {
    margin-bottom: 20px;
  }
}
.blog__items {
  display: grid;
  grid-template: auto/repeat(4, 1fr);
  gap: 30px;
}
@media (max-width: 1230px) {
  .blog__items {
    grid-template: auto/repeat(3, 1fr);
  }
}
@media (max-width: 830px) {
  .blog__items {
    grid-template: auto/repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .blog__items {
    grid-template: auto/repeat(1, 1fr);
  }
}
.blog__item {
  background-color: #fff;
  padding: 24px 24px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #000;
  font-weight: 300;
  line-height: 1.5;
  -webkit-transition: border 0.3s;
  -o-transition: border 0.3s;
  transition: border 0.3s;
  border: 2px solid rgba(0, 0, 0, 0);
}
@media (any-hover: hover) {
  .blog__item:hover {
    border: 2px solid #C4C4C4;
  }
}
.blog__categoria {
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  color: #BDBDBD;
}
.blog__title-second {
  font-weight: 400;
  font-size: 26px;
}
.blog__text {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 16px;
  letter-spacing: 0.01em;
  border-bottom: 3px solid #000;
  padding-bottom: 100px;
}
@media (max-width: 1300px) {
  .blog__text {
    padding-bottom: 60px;
  }
}
@media (max-width: 800px) {
  .blog__text {
    padding-bottom: 40px;
  }
}
.blog__text p:not(:last-child) {
  margin-bottom: 8px;
}
.blog__date {
  font-weight: 300;
  font-size: 13px;
  line-height: 2.85;
  color: #4F4F4F;
}

.including {
  margin: 0 -21px;
  padding: 0 21px;
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #E6F1FA;
  padding: 20px 0;
}
@media (max-width: 550px) {
  .including {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.including__item {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.including__item::before {
  content: "";
  background: url("../img/icons/vector.svg") center no-repeat;
  width: 30px;
  height: 30px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  margin-right: 14px;
}