@import url("reset.css");

img{
	max-width: 100%;
}
.header{
	font-family: "Poppins", sans-serif;
	font-style: normal;
	font-size: 12px;
	line-height: 1.7;
	color: #E5E5E5;
	font-weight: 300;
	min-height: 600px;
	background: url("../img/header_background.png") bottom / cover no-repeat;
}
.header-container {
	max-width: 1270px;
	margin: 0 auto;
	padding: 0 15px;
	padding-top: 330px;
}
.header-text-box {
	margin-bottom: 100px;
}
.header-date {
	margin-bottom: 15px;
}
.header-title {
	font-weight: 700;
	font-size: 25px;
	line-height: 1.6;
	color: #F8F9FA;
	max-width: 605px;
	margin-bottom: 15px;
}
.header-text {
	max-width: 499px;
}
.unorder-list {
	font-family: "Inter", sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 0.93;
	color: #637381;
}
.unorder-list-container {
	max-width: 1175px;
	margin: 0 auto;
	padding: 40px 15px 150px;
}
.unorder-list-title {
	color: #212B36;
	font-weight: 400;
	font-size: 26px;
	line-height: 1.07;
	margin-bottom: 45px;
}
.lists-box {
	font-size: 0;
}
.lists-items-upper {
	margin-bottom: 60px;
}
.lists-box-item {
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	width: 27.8%;
}
.lists-box-item.center{
	margin: 0 8.3%;
}
.lists-box-item li{
	margin-bottom: 18px;
}
[class*="list-"] li{
	min-height: 20px;
}
.list-1 li{
	padding-left: 18px;
	padding-top: 1px;
	background: url("../img/Ellipse 2744.png") left 4px no-repeat;
}
.list-2 li{
	padding-left: 30px;
	padding-top: 2px;
	background: url("../img/checkmark-circle (2) 1.png") no-repeat;
}
.list-3 li{
	padding-left: 30px;
	padding-top: 2px;
	background: url("../img/checkmark-circle (2) 1 (1).png") no-repeat;
}
.list-4 li{
	padding-left: 30px;
	padding-top: 2px;
	background: url("../img/cross-circle (1) 1.png") no-repeat;
}
.list-5 li{
	padding-left: 30px;
	padding-top: 2px;
	background: url("../img/arrow-right (7) 1.png") no-repeat;
}
.list-6 li{
	padding-left: 28px;
	padding-top: 2px;
	background: url("../img/star (1) 1.png") no-repeat;
}
.sound-speaker {
	background: linear-gradient(115deg, rgba(0, 0, 0, 0) 65%, rgba(48, 86, 211, 0.08) 65% 67%, rgba(48, 86, 211, 0) 100%), 
	#F4F7FF linear-gradient(115deg, rgba(0, 0, 0, 0) 60%, rgba(48, 86, 211, 0.08) 60% 66.4%, rgba(48, 86, 211, 0) 94.4%);
	min-height: 500px;
	font-family: "Inter", sans-serif;
	font-style: normal;
}
.sound-speaker-container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}
.sound-speaker-text-box {
	display: inline-block;
	margin: 145px 180px 145px 0;
}
.coast {
	color: #3056D3;
	font-weight: 600;
	font-size: 18px;
	line-height: 1.4;
	margin-bottom: 13px;
}
.sound-speaker-title {
	color: #212B36;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.25;
	margin-bottom: 15px;
	max-width: 470px;
}
.sound-speaker-text {
	color: #637381;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	margin-bottom: 35px;
	max-width: 570px;
}
.button-box{
	background-color: #3056D3;
	padding: 10px 30px;
	border-radius: 30px;
	display: inline-block;
	max-width: 200px;
}
.button {
	color: #FFFFFF;
	font-weight: 600;
	font-size: 16px;
	line-height: 1.5;
}
.image{
	margin-top: 85px;
}