*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

textarea,
button,
input {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}

button {
  cursor: pointer;
  background-color: inherit;
}

body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

img {
  max-width: 100%;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.wrapper main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.header {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
  row-gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 6.25rem;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}
.header__logo {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.39;
  color: #F8F9FA;
}
.header__logo::after {
  content: ".";
  color: #DDBEA9;
}
.header__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__menu-icon {
  margin-right: 0.3125rem;
  width: 1.5625rem;
  height: 1.5625rem;
  position: relative;
  display: none;
}
.header__menu-icon span {
  display: block;
  height: 1px;
  width: 100%;
  background-color: #F8F9FA;
}
.header__menu-icon::before {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background-color: #F8F9FA;
  position: absolute;
  top: 0;
  left: 0;
}
.header__menu-icon::after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background-color: #F8F9FA;
  position: absolute;
  bottom: 0;
  left: 0;
}
.header__pages-menu:not(:last-child) {
  padding-right: 2.0833333333em;
}
.header__search-link {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(1.5625rem + 12px);
          flex: 0 0 calc(1.5625rem + 12px);
  width: calc(1.5625rem + 12px);
  -ms-flex-item-align: stretch;
      align-self: stretch;
  background: url("../img/search-icon.svg") right/0.75rem 0.75rem no-repeat;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform-origin: right;
      -ms-transform-origin: right;
          transform-origin: right;
}
@media (any-hover: hover) {
  .header__search-link:hover {
    -webkit-transform: scale(1.4);
        -ms-transform: scale(1.4);
            transform: scale(1.4);
  }
}

.pages-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2.0833333333em;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 2.08;
  color: rgba(248, 249, 250, 0.5);
  border-right: 1px solid rgba(229, 229, 229, 0.5);
}
.pages-menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
  position: relative;
}
@media (any-hover: hover) {
  .pages-menu__item:hover {
    color: #F8F9FA;
  }
}
.pages-menu__item:hover .pages-menu__sub-menu {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  pointer-events: auto;
}
.pages-menu__link:focus + .pages-menu__sub-menu {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  pointer-events: auto;
}
.pages-menu__item--active {
  color: #F8F9FA;
  border-bottom: 2px solid #DDBEA9;
}
.pages-menu__item--active .pages-menu__link {
  pointer-events: none;
}
.pages-menu__item--parent::after {
  content: "";
  display: block;
  background: url("../img/arrow-down.svg") center/contain no-repeat;
  margin-left: 0.4166666667em;
  width: 0.6666666667em;
  height: 0.4166666667em;
}
.pages-menu__item--parent .pages-menu__link {
  pointer-events: none;
}
.pages-menu__sub-menu {
  padding-top: 0.8333333333em;
}

.sub-menu {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translate(0, 30px);
      -ms-transform: translate(0, 30px);
          transform: translate(0, 30px);
  pointer-events: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;
  color: rgba(248, 249, 250, 0.6);
  line-height: 1.3;
}
.sub-menu__list {
  padding: 20px;
  background-color: #212529;
  border-radius: 5px;
  width: 11.6666666667em;
}
.sub-menu__list *:not(:last-child) {
  margin-bottom: 1.3333333333em;
}
.sub-menu__item {
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
@media (any-hover: hover) {
  .sub-menu__item:hover {
    color: #F8F9FA;
  }
}
@media (max-width: 34.375em) {
  .header--open-menu .pages-menu {
    display: block;
  }
  .pages-menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    border-right: none;
    background-color: #212529;
    display: none;
    overflow: auto;
  }
  .sub-menu {
    font-size: 0.75rem;
    padding-top: 0;
    visibility: visible;
    opacity: 1;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
    position: relative;
    pointer-events: auto;
  }
  .sub-menu__list {
    padding-top: 0;
    padding-bottom: 0;
  }
  .pages-menu__item {
    display: block;
    font-size: 1rem;
  }
  .pages-menu__item::after {
    background: none;
  }
  .pages-menu__item--active {
    color: #F8F9FA;
    border-bottom: none;
  }
  .header__menu-icon {
    display: block;
  }
}
.page__articles {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
}
.page__trips {
  padding: 6.25rem 0;
}
.page__trips:not(:last-child) {
  margin-bottom: 6.25rem;
}
@media (max-width: 62.5em) {
  .page__trips {
    padding: 5rem 0;
  }
  .page__trips:not(:last-child) {
    margin-bottom: 5.3125rem;
  }
}
@media (max-width: 43.75em) {
  .page__trips {
    padding: 2.5rem 0;
  }
  .page__trips:not(:last-child) {
    margin-bottom: 2.8125rem;
  }
}
@media (max-width: 25em) {
  .page__trips {
    padding: 1.5625rem 0;
  }
  .page__trips:not(:last-child) {
    margin-bottom: 1.875rem;
  }
}
.page__big-world {
  padding: 6.25rem 0;
}
@media (max-width: 62.5em) {
  .page__big-world {
    padding: 5rem 0;
  }
}
@media (max-width: 43.75em) {
  .page__big-world {
    padding: 2.5rem 0;
  }
}
@media (max-width: 25em) {
  .page__big-world {
    padding: 1.5625rem 0;
  }
}

.header-page {
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.67;
  color: #E5E5E5;
  position: relative;
}
.header-page__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.header-page__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.header-page__container {
  height: 37.5rem;
  position: relative;
  z-index: 0;
  padding-top: calc(6.25rem + 50px);
  padding-bottom: 3.3333333333em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 3.3333333333em;
}
.header-page__text-block {
  max-width: 38.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25em;
}
.header-page__title {
  color: #F8F9FA;
  font-weight: 700;
  font-size: 1.5625rem;
  line-height: 1.6;
}
@media (max-width: 21.875em) {
  .header-page__title {
    font-size: 1.25rem;
  }
}
.header-page__counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  letter-spacing: 0.2em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-page__counter::before {
  content: "";
  display: block;
  background-color: #F8F9FA;
  height: 0.5px;
  width: 3.6666666667em;
  margin-right: 0.8333333333em;
}
.articles__header-part {
  font-weight: 500;
  font-size: 0.75rem;
  color: #495057;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.articles__header-part:not(:last-child) {
  margin-bottom: 3.75em;
}
.articles__categories-button {
  line-height: 2.08;
}
.articles__categories-button::after {
  content: "+";
  margin-left: 0.5833333333em;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.articles__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 1.6666666667em;
     -moz-column-gap: 1.6666666667em;
          column-gap: 1.6666666667em;
  row-gap: 0.8333333333em;
  color: rgba(73, 80, 87, 0.5);
}
@media (max-width: 51.875em) {
  .articles__menu {
    display: none;
  }
}
.articles__columns-select {
  line-height: 2.08;
}
.articles__columns-select--active {
  color: #495057;
  pointer-events: none;
}
.articles__items {
  display: grid;
  grid-template: auto/repeat(3, 1fr);
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
  row-gap: 2.8125rem;
}
.articles__items:not(:last-child) {
  margin-bottom: 3.75rem;
}
@media (max-width: 51.875em) {
  .articles__items {
    grid-template: auto/repeat(2, 1fr);
  }
}
@media (max-width: 28.125em) {
  .articles__items {
    grid-template: auto/repeat(1, 1fr);
  }
}
.articles__button-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.articles__button {
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 2.08;
  color: #F8F9FA;
  padding: 0.5833333333em 4.1666666667em;
  background: #212529;
  border-radius: 3px;
  -webkit-transition: padding 0.3s;
  -o-transition: padding 0.3s;
  transition: padding 0.3s;
}
@media (any-hover: hover) {
  .articles__button:hover {
    padding: 0.5833333333em 5em;
  }
}
@media (max-width: 550px) {
  .articles__button {
    padding: 0.8333333333em 5em;
  }
}
@media (max-width: 350px) {
  .articles__button {
    width: 100%;
  }
}

.item-article {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 300;
  font-size: 0.75rem;
  line-height: 1.67;
  color: #495057;
}
.item-article__content-box {
  display: block;
  border-bottom: 1px solid #E5E5E5;
  padding-bottom: 1.25em;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.item-article__content-box:not(:last-child) {
  margin-bottom: 0.9375rem;
}
.item-article__content-box *:not(:last-child, .item-article__image) {
  margin-bottom: 0.9375rem;
}
@media (any-hover: hover) {
  .item-article__content-box:hover .item-article__title {
    color: #CCD5AE;
  }
  .item-article__content-box:hover .item-article__image img {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }
}
.item-article__image {
  position: relative;
  width: 100%;
  padding-top: 63.613232%; /* 250/393 */
  overflow: hidden;
  border-radius: 3px;
}
.item-article__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.item-article__image:not(:last-child) {
  margin-bottom: 2.5em;
}
.item-article__title {
  font-weight: 700;
  font-size: 1.5625rem;
  line-height: 1.6;
  color: #212529;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
@media (max-width: 37.5em) {
  .item-article__title {
    font-size: 1.25rem;
  }
}
.item-article__categoria-link {
  position: absolute;
  top: 30px;
  right: 7.633588%; /* 30/393 */
  font-weight: 700;
  font-size: 0.5rem;
  line-height: 2.5;
  color: #F8F9FA;
  padding: 0.375em 1.5em;
  background-color: rgba(33, 37, 41, 0.3);
  border-radius: 3px;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
@media (any-hover: hover) {
  .item-article__categoria-link:hover {
    background-color: rgba(33, 37, 41, 0.7);
  }
}
@media (max-width: 770px) {
  .item-article__categoria-link {
    position: relative;
    top: 0;
    left: 0;
    margin-bottom: 1.25em;
    padding: 0.5em 1em;
    text-align: center;
    font-size: 0.75rem;
  }
}
.item-article__author-link {
  -webkit-transition: padding 0.3s;
  -o-transition: padding 0.3s;
  transition: padding 0.3s;
}
@media (any-hover: hover) {
  .item-article__author-link:hover {
    padding-left: 0.8333333333em;
  }
}

.trips {
  background-color: #212529;
  color: #E5E5E5;
  font-weight: 300;
  font-size: 0.75rem;
  line-height: 1.67;
  position: relative;
}
.trips__background-image {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 48.958333%; /* 705/1440 */
  border-radius: 3px;
  overflow: hidden;
}
.trips__background-image img {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.trips__small-slider {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 48.958333%;
}
.trips__title {
  font-weight: 500;
  font-size: 1.5625rem;
  line-height: 1.15;
  color: #F8F9FA;
  max-width: 40.322581%;
}
.trips__title:not(:last-child) {
  margin-bottom: 2.28em;
}
.trips__items {
  max-width: 40.322581%; /* 500/1240 */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.5rem;
}
@media (max-width: 62.5em) {
  .trips__items {
    max-width: 48%;
    gap: 0.9375rem;
  }
}
.trips__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 2.5em;
}
@media (any-hover: hover) {
  .trips__item:hover .trips__small-title {
    color: #CCD5AE;
  }
  .trips__item:hover .trips__image img {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }
}
@media (max-width: 62.5em) {
  .trips__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0.8333333333em;
  }
}
.trips__image {
  width: 36.2%; /* 181/500 */
  -webkit-box-flex: 0;
      -ms-flex: 0 0 36.2%;
          flex: 0 0 36.2%;
  padding-top: 36.2%; /* 181/500 */
  position: relative;
  border-radius: 3px;
  overflow: hidden;
}
.trips__image img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.trips__text-box {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25em;
}
@media (max-width: 62.5em) {
  .trips__text-box {
    gap: 0.8333333333em;
  }
}
.trips__small-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.56;
  color: #F8F9FA;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
.trips__counter {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.2em;
}
.trips__counter::before {
  content: "";
  display: block;
  width: 3.6666666667em;
  height: 0.0416666667em;
  background-color: rgba(248, 249, 250, 0.5);
  margin-right: 0.8333333333em;
}

.small-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25em;
  text-align: center;
  padding: 0 15px;
}
.small-slider p {
  max-width: 24.6875rem;
}
.small-slider__counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.2em;
}
.small-slider__counter::before {
  content: "";
  display: block;
  width: 3.6666666667em;
  height: 0.0416666667em;
  background-color: #F8F9FA;
  margin-right: 0.8333333333em;
}
.small-slider__title {
  font-weight: 700;
  font-size: 1.5625rem;
  line-height: 1.6;
  color: #F8F9FA;
  max-width: 24.6875rem;
}

@media (max-width: 45.625em) {
  .trips__counter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .page__trips {
    padding-top: 15.625rem;
    padding-bottom: 3.75rem;
  }
  .trips__background-image {
    width: 100%;
    z-index: 0;
  }
  .trips__small-slider {
    position: relative;
    height: auto;
    width: 100%;
    padding: 0;
  }
  .trips__small-slider:not(:last-child) {
    margin-bottom: 10em;
  }
}
@media (max-width: 45.625em) and (max-width: 25em) {
  .trips__small-slider .small-slider__title {
    font-size: 1.25rem;
  }
}
@media (max-width: 45.625em) {
  .trips__container {
    position: relative;
    z-index: 1;
    max-width: 80%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 45.625em) and (max-width: 23.75em) {
  .trips__container {
    max-width: 90%;
  }
}
@media (max-width: 45.625em) {
  .trips__items {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1.25rem;
  }
  .trips__items .trips__item:not(.trips__item-visible:first-of-type) {
    display: none;
  }
}
@media (max-width: 45.625em) {
  .trips__item {
    gap: 1.6666666667em;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media (max-width: 45.625em) and (max-width: 26.25em) {
  .trips__item {
    display: block;
  }
}
@media (max-width: 45.625em) {
  .trips__title {
    font-size: 1.375rem;
    color: #F8F9FA;
    text-align: center;
    max-width: 100%;
  }
  .trips__title:not(:last-child) {
    margin-bottom: 1.1363636364em;
  }
}
@media (max-width: 45.625em) and (max-width: 26.25em) {
  .trips__image {
    margin-right: 1.25rem;
    display: inline-block;
    float: left;
    min-height: 70px;
    min-width: 70px;
  }
}
@media (max-width: 45.625em) {
  .trips__text-box {
    display: inline;
  }
  .trips__text-box > *:not(:last-child) {
    margin-bottom: 0.625rem;
  }
}
.big-world {
  font-weight: 300;
  font-size: 0.75rem;
  line-height: 1.67;
  color: #495057;
}
.big-world__title {
  font-weight: 500;
  font-size: 1.5625rem;
  line-height: 1.15;
}
.big-world__title:not(:last-child) {
  margin-bottom: 2.4em;
}
.big-world__items {
  display: grid;
  grid-template: auto/repeat(4, 1fr);
  gap: 1.875rem;
}
@media (max-width: 56.25em) {
  .big-world__items {
    grid-template: auto/repeat(3, 1fr);
  }
}
@media (max-width: 37.5em) {
  .big-world__items {
    grid-template: auto/repeat(2, 1fr);
  }
}
@media (max-width: 22.5em) {
  .big-world__items {
    grid-template: auto/repeat(1, 1fr);
  }
}
.big-world__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.625rem;
}
.big-world__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.9375rem;
  height: 100%;
}
@media (any-hover: hover) {
  .big-world__link:hover .big-world__image img {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }
  .big-world__link:hover .big-world__small-title {
    color: #CCD5AE;
  }
}
.big-world__image {
  padding-top: 69.686411%; /* 200/287 */
  width: 100%;
  position: relative;
  border-radius: 3px;
  overflow: hidden;
}
.big-world__image:not(:last-child) {
  margin-bottom: 0.9375rem;
}
.big-world__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.big-world__image--shadow {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.big-world__small-title {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.56;
  color: #212529;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.big-world__categoria-link {
  display: block;
  font-weight: 700;
  color: #F8F9FA;
  font-size: 0.5rem;
  line-height: 2.5;
  padding: 0.375em 1em;
  text-align: center;
  background-color: rgba(33, 37, 41, 0.3);
  border-radius: 3px;
  min-width: 8em;
  text-transform: uppercase;
  position: absolute;
  top: 25px;
  right: 25px;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
@media (any-hover: hover) {
  .big-world__categoria-link:hover {
    background-color: rgba(33, 37, 41, 0.7);
  }
}
@media (max-width: 550px) {
  .big-world__categoria-link {
    position: relative;
    top: 0;
    right: 0;
    font-size: 0.625rem;
  }
}

.footer {
  background-color: #212529;
  padding: 2.5rem 0;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.67;
  color: rgba(248, 249, 250, 0.5);
}
.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
  row-gap: 0.625rem;
}
.footer__row--upper {
  padding-bottom: 2.5rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-bottom: 1px solid rgba(229, 229, 229, 0.2);
}
.footer__row--lower {
  padding-top: 2.5rem;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.footer__logo {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.39;
  color: #F8F9FA;
}
.footer__logo::after {
  content: ".";
  color: #DDBEA9;
}
.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2.0833333333em;
  padding-top: 0.6666666667em;
}