@import url("reset.css");
@import url("common.css");

.wrapper {
	min-height: 100%;
	overflow: clip;
}
img {
	max-width: 100%;
}
body {
	font-style: normal;
}


.form{
	padding: 50px;
}
#textarea {
	resize: vertical;
}



.test-form__checkbox {
	position: relative;
}
.checkbox__input {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	opacity: 0;
}
.checkbox__input:focus-visible + .checkbox__label {
	outline: 2px solid #000;
	border-radius: 5px;
}
.checkbox__input:checked + .checkbox__label::before {
	background-color: red;
}
.checkbox__label {
	cursor: pointer;
	display: inline-flex;
	gap: 5px;
	align-items: center;
}
.checkbox__label::before {
	content: "";
	flex: 0 0 15px;
	width: 15px;
	height: 15px;
	background-color: green;
}



.media-test__container {
	max-width: 1270px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}
.media-test__column {
	flex: 0 0 33.333%;
	padding: 15px;
}

@media screen and (max-width: 826px){
	.media-test__column {
		flex: 0 0 50%;
	}
}
@media (max-width: 400px) {
	.media-test__column {
		flex: 0 0 100%;
	}
}


.jobs-page {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.6;
	color: #9C9C9C;
	padding: 50px 0;
}
.jobs-page__container {
	max-width: 1230px;
	padding: 0 15px;
	margin: 0 auto;
}
@media (max-width: 1300px) {
	.jobs-page__container {
		max-width: 930px;
	}
}
.jobs-page__title {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	color: #000000;
	margin-bottom: 40px;
	display: flex;
	align-items: center;
}
.jobs-page__title::after {
	display: inline-block;
	content: "";
	flex: 0 1 39%;
	height: 2px;
	background-color: #000;
	margin-left: 26px;
}
@media (max-width: 700px) {
	.jobs-page__title::after {
		display: block;
		content: "";
		flex: 1 1 39%;
		height: 2px;
		background-color: #000;
		margin-left: 26px;
	}
}
.jobs-page__image {
	margin-bottom: 30px;
}
.jobs-page__image img {
	width: 100%;
}
.jobs-page__items > *:not(:last-child) {
	margin-bottom: 30px;
}
@media (min-width: 851px) {
	.jobs-page__image {
		margin-bottom: 0;
	}
	.jobs-page__items > *:not(:last-child) {
		margin-bottom: 40px;
	}
	.jobs-page__item {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.jobs-page__image {
		flex: 0 0 62%;
		position: relative;
		padding-top: 30.4%;
		align-self: flex-start;
	}
	.jobs-page__image img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;

		object-fit: contain;
	}
	.jobs-page__fourth-title-text-box {
		flex: 0 0 27.8%;
	}
}
@media (max-width: 850px) {
	.jobs-page {
		padding: 30px 0;
	}
	.jobs-page__title {
		margin-bottom: 20px;
	}
}
@media (max-width: 500px) {
	.jobs-page__image {
		margin-bottom: 10px;
	}
	.jobs-page__fourth-title-text-box {
		text-align: center;
	}
}
@media (max-width: 370px) {
	.jobs-page__container {
		padding: 0;
	}
}




.minimalist-page {
	font-family: "Poppins", sans-serif;
	color: #000000;
	padding-bottom: 40px;
}
.minimalist-page__container {
	max-width: 1230px;
	padding: 0 15px;
	margin: 0 auto;
}
@media (max-width: 1300px) {
	.minimalist-page__container {
		max-width: 930px;
	}
}
@media (max-width: 1000px) {
	.minimalist-page__container {
		max-width: 730px;
	}
}
.minimalist-page__title-text-box {
	font-weight: 400;
	font-size: 18px;
	line-height: 1.6;
	text-align: center;
	margin-bottom: 50px;
}
.minimalist-page__title-text-box > *:not(:last-child) {
	margin-bottom: 40px;
}
.minimalist-page__title-text-box p {
	max-width: 518px;
	margin: 0 auto;
}
.minimalist-page__title {
	font-weight: 700;
	font-size: 56px;
	line-height: 1.4;
}
.minimalist-page__image {
	margin-bottom: 100px;
}
.minimalist-page__image img {
	width: 100%;
}
.minimalist-page__fourth-title-text-box {
	margin-bottom: 20px;
}
.minimalist-page__date-categoria {
	margin-top: 20px;
}
@media (max-width: 1300px) {
	.minimalist-page__image {
		margin-bottom: 50px
	}
	.minimalist-page__text-box {
		margin-bottom: 40px;
	}
}
@media (min-width: 700px) {
	.minimalist-page__fourth-title-text-box {
		padding: 0 16px;
		flex: 0 0 50%;
	}
	.minimalist-page__text-box {
		display: flex;
		margin: 0 -16px;
		row-gap: 20px;
		flex-wrap: wrap;
		margin-bottom: 82px;
	}
	.minimalist-page__date-categoria {
		margin-top: 60px;
	}
}
.minimalist-page__date-categoria span:first-child {
	margin-right: 80px;
}
.minimalist-page__items {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -16px;
	row-gap: 32px;
}
.minimalist-page__item {
	flex: 0 0 50%;
	padding: 0 16px;
}
.minimalist-page__photo {
	position: relative;
}
.minimalist-page__item .minimalist-page__photo {
	padding-top: 87.84%;
}
.minimalist-page__item--big .minimalist-page__photo {
	padding-top: 42.75%;
}
.minimalist-page__photo img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.minimalist-page__item--big {
	flex: 0 0 100%;
}
@media (max-width: 600px) {
	.minimalist-page__items {
		margin: 0 -5px;
		row-gap: 10px;
	}
	.minimalist-page__item {
		padding: 0 5px;
	}
	.minimalist-page__container {
		padding: 0 5px;
	}
}
@media (max-width: 400px) {
	.minimalist-page__image {
		margin-bottom: 20px
	}
	.minimalist-page__title-text-box {
		margin-bottom: 20px;
	}
	.minimalist-page__title-text-box > *:not(:last-child) {
		margin-bottom: 20px;
	}
	.minimalist-page__text-box {
		margin-bottom: 20px;
	}
}




.components-form {
	font-family: "Inter", sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	color: #637381;
}
.components-form__container {
	max-width: 730px;
	margin: 0 auto;
	padding: 0 15px;
}
.components-form__second-title {
	font-weight: 700;
	font-size: 24px;
	line-height: 1.25;
	color: #212B36;
	margin-bottom: 30px;
}
.components-form__form-components-info {

}
.form-components-info__row {
	margin-bottom: 20px;
}
.form-components-info__row > *:not(:last-child) {
	margin-bottom: 20px;
}
.form-components-info__input input,
.form-components-info__input--select select, 
.form-components-info__input--select select option {
	width: 100%;
	padding: 15px 25px ;
	border: 1px solid #E7E7E7;
	border-radius: 7px;
	color: #637381;
	font-size: inherit;
	line-height: inherit;
	font-weight: inherit;
	font-family: inherit;
}
.form-components-info__input input:focus,
.form-components-info__input--select select:focus,
.form-components-info__textarea:focus,
.form-coupon-code__input input:focus {
	border: 1px solid #3056D3;
	outline: none;
}
.form-components-info__input input:hover,
.form-components-info__input--select select:hover,
.form-components-info__textarea:hover,
.form-coupon-code__input input:hover {
	outline: 2px solid #E1E1E1;
}
.form-components-info__input input:hover:focus,
.form-components-info__input--select select:hover:focus,
.form-components-info__textarea:hover:focus,
.form-coupon-code__input input:hover:focus {
	outline: none;
}
.form-components-info__input input::placeholder,
.form-components-info__input--select select::placeholder,
.form-coupon-code__input input::placeholder {
	color: #637381;
	font-size: inherit;
	line-height: inherit;
	font-weight: inherit;
	font-family: inherit;
}
.form-components-info__input--select {
	position: relative;
}
.form-components-info__input--select select {
	background: url("../img/components-select.svg") right 22px top 50%  no-repeat;
	-webkit-appearance: none;
}
.form-components-info__option-placeholder {
	display: none;
}
.form-components-info__textarea-box {
	margin-bottom: 35px;
}
.form-components-info__textarea {
	resize: none;
	border: 1px solid #E7E7E7;
	border-radius: 7px;
	width: 100%;
	height: 180px;
	padding: 25px;
}
.form-components-info__check-box-create-account {
	margin-bottom: 25px;
	position: relative;
}
.form-components-info__check-box-create-account input,
.form-components-info__check-box-different-address input {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	opacity: 0;
}
.form-components-info__check-box-different-address {
	position: relative;
}
.form-components-info__check-box-create-account input:focus-visible + label,
.form-components-info__check-box-different-address input:focus-visible + label {
	outline: 2px solid #3056D3;
	border-radius: 5px;
}
.form-components-info__check-box-create-account label,
.form-components-info__check-box-different-address label {
	display: flex;
	align-items: center;
	column-gap: 14px;
}
.form-components-info__check-box-create-account label::before,
.form-components-info__check-box-different-address label::before {
	content: "";
	background: url("../img/check-box-empty.svg") center no-repeat;
	display: inline-block;
	flex: 0 0 22px;
	width: 22px;
	height: 22px;
}
.form-components-info__check-box-create-account input:checked + label::before,
.form-components-info__check-box-different-address input:checked + label::before {
	background: url("../img/check-box-selected.svg") center no-repeat;
}
.form-components-info__check-box-create-account label:hover,
.form-components-info__check-box-different-address label:hover {
	cursor: pointer;
}
.components-form__third-title {
	margin-top: 55px;
	margin-bottom: 25px;
	font-weight: 600;
	font-size: 20px;
	line-height: 1.3;
	color: #212B36;
}
.components-form__form-coupon-code > *:not(:last-child) {
	margin-bottom: 20px;
}
.form-coupon-code__input input {
	padding: 12px 22px ;
	border: 1px solid #E7E7E7;
	border-radius: 5px;
	color: #637381;
	width: 100%;
}
.form-coupon-code__button {
	padding: 12px 22px;
	font-weight: 600;
	color: #fff;
	background: #212B36;
	border-radius: 5px;
	transition: transform 0.3s;
	width: 100%;
}
.form-coupon-code__button:hover {
	transform: scale(1.03);
}
@media (min-width: 550px) {
	.form-components-info__row {
		display: flex;
		column-gap: 28px;
		justify-content: space-between;
		margin-bottom: 30px;
	}
	.form-components-info__input {
		flex: 0 0 48%;
	}
	.components-form__form-coupon-code {
		display: flex;
		column-gap: 20px;
		align-items: center;
		flex-wrap: wrap;
		row-gap: 15px;
	}
	.form-coupon-code__input {
		flex: 0 0 46.42%;
	}
	.form-coupon-code__button {
		width: auto;
	}
	.components-form__form-coupon-code > *:not(:last-child) {
		margin-bottom: 0;
	}
}
@media (max-width: 350px) {
	.components-form__third-title {
		margin-top: 25px;
	}
}
